/* Images */

* {
	box-sizing: border-box;
}

body {
	background: rgb(162,203,151);
    color: black;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: normal;
	line-height: 1.4;
	font-size: 16px;
	margin: 0.25em;
	background-image: url(img/sky.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

img {
	max-width: 100%;
}

.grid {
	display: flex;
	flex-wrap: wrap;
}

.item {
	width: 50%;
	padding: 0.25em
	
}
.rounded-corners {
	border-radius: 5em;
	position: fixed;
	bottom: 1em;
	right: 1em;
	transform: rotate(45deg);
}












